mixin githubStats(userName, repoName)
  .stats
    iframe(src = `http://ghbtns.com/github-btn.html?user=${userName}&repo=${repoName}&type=watch&count=true`, allowtransparency="true", frameborder="0", scrolling="0", width="90px", height="20")
    iframe(src = `http://ghbtns.com/github-btn.html?user=${userName}&repo=${repoName}&type=fork&count=true`, allowtransparency="true", frameborder="0", scrolling="0", width="90px", height="20")
    iframe(src = `http://ghbtns.com/github-btn.html?user=${userName}&repo=${repoName}&type=follow&count=true`, allowtransparency="true", frameborder="0", scrolling="0", width="120px", height="20")


mixin doormat()
  - var doormatClass = blocks.doormat.lbl
  ol(class=`${doormatClass}`)
    if block
      block
    else
      h1 Empty doormat

mixin panel(theme)
  - var panelClass = blocks.panel.lbl
  - var panelContentClass = blocks.panel.lbl + '__' + blocks.panel.els.content
  li(class=`${panelClass} ${theme}`)
    div(class=`${panelContentClass}`)
      if block
        block
      else
        h1 Empty panel
