mixin githubStats(userName, repoName)
  .stats
    iframe(src = "http://ghbtns.com/github-btn.html?user=#{userName}&repo=#{repoName}&type=watch&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="90px", height="20")
    iframe(src = "http://ghbtns.com/github-btn.html?user=#{userName}&repo=#{repoName}&type=fork&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="90px", height="20")
    iframe(src = "http://ghbtns.com/github-btn.html?user=#{userName}&repo=#{repoName}&type=follow&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="120px", height="20")
doctype html
html
  head
    title doormat | wipe your fingers before you come in!
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=1.0')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='description', content='an entry point to your site, wipe your fingers before you come in!')
    link(rel='stylesheet', href='css/doormat.css')
    link(rel='stylesheet', href='css/dev.css')
  body.tx--black
    ol
      li.section.tx--white.header
        h2.instruction.tx--center please scroll...
        .title.tx--right
          h1 doormat
          +githubStats('jh3y', 'doormat')
      li.section.bg--teal.intro.tx--center.tx--white
        h1 How about something a little different for navigating through your site content?
      li.section.bg--white.tx--center
        h1 How to create a doormat
        p It's actually <strong>real</strong> simple.
        ol
          li Include <code>doormat.js</code> and <code>doormat.css</code> in your page.
          li Create the DOM structure you want to use. This needs to be a containing element of children. <strong>All</strong> of the children will be used as panels. I recommend something like an <code>ol</code> or <code>ul</code>.
          li Invoke the <code>doormat</code> function passing in the container element as a parameter. For example; <pre><code>var container = document.querySelector('ol');<br>var myDoormat = new doormat(container);</code></pre>
      li.section.get-involved.bg--teal.tx--white.tx--center
        h1 That's it really.
        h4 For more, see the <a href="https://github.com/jh3y/doormat" target="_blank">repo</a>!
    script(type='text/javascript', src='js/doormat.js')
    script(type='text/javascript').
      var myDoormat = new doormat(document.getElementsByTagName('ol')[0]);
